@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', 'Anton', sans-serif;
    margin: 0;
}
main
{
    min-height: calc(100vh - 3rem - 8.2rem);
    margin-top: 3rem;
}
.backdrop
{
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.main-header
{
    width: 100%;
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header__brand
{
    color: #0e4f1f;
    text-decoration: none;
}
.main-header__brand img
{
    height: 3rem;
    vertical-align: middle;
}
.main-nav
{
    display: none;
}
.main-nav__items
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.main-nav__item
{
    margin: 0 0.9rem;
}
.main-nav__item a,
.mobile-nav__item a
{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.25rem 0px;
}
.main-nav__item a:hover,
.main-nav__item a:active
{
    color: white;
    border-bottom: 5px solid white;
}
.main-nav__item--cta a,
.mobile-nav__item--cta a
{
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active
{
    color: #ff1b68;
    background: white;
    border: none;
}
.main-footer
{
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}
.main-footer__links
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer__link
{
    margin: 0.5rem 0;
}
.main-footer__link a
{
    color: white;
    text-decoration: none;
}
.main-footer__link a:hover,
.main-footer__link a:active
{
    color: #ccc;
}
.modal
{
    position: fixed;
    z-index: 200;
    top: 30%;
    width: 100vw;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    display: none;
}
.modal__title
{
    text-align: center;
    margin: 0 0 1rem 0;
}
.modal__actions
{
    text-align: center;
}
.modal__action
{
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.modal__action:hover,
.modal__action:active
{
    background: #2ddf5c;
    border-color: #2ddf5c;
}
.modal__action--negative
{
    background: red;
    border-color: red;
}
.modal__action--negative:hover,
.modal__action--negative:active
{
    background: #ff5454;
    border-color: #ff5454;
}
.mobile-nav
{
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
}
.mobile-nav__items
{
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-nav__item
{
    margin: 1rem 0;
}
.mobile-nav__item a
{
    font-size: 1.5rem;
}
.toggle-button
{
    width: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}  
.toggle-button:focus
{
    outline: none;
}  
.toggle-button__bar
{
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.2rem 0;
}
@media(min-width: 47rem)
{
    .toggle-button
    {
        display: none;
    }
    .main-nav
    {
        display: flex;
    }
    .modal
    {
        top: 30%;
        left: 25%;
        width: 50vw;
    }
    .main-footer__link
    {
        margin: 0 1rem;
    }
    .main-footer__links
    {
        flex-direction: row;
        justify-content: center;
    }
}